@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Passion+One&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --font-02: 'Passion One', cursive;
    --font-03: 'Pacifico', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: lightgray;
    font-family: var(--fonte01);
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1{
    padding-top:50px;
    font-variant: small-caps;
    font-family: var(--font-02);
    font-size: 4em;
}

header > p{
    padding-bottom: 50px;
    margin-top: 20px;

}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font-03);
    padding-top:10vh;
    padding-bottom:10vh ;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.1vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(52, 52, 52);
    color: white;
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.541);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.192);
    text-shadow: 2px 3px 2px black;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 13px;
}